<html>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script>
  function validform() {

    var a = document.forms["my-form"]["name"].value;
    var b = document.forms["my-form"]["password"].value;


    if (a == null || a == "") {
      alert("Please Enter Your User Name");
      return false;
    } else if (b == null || b == "") {
      alert("Please Enter Your Password");
      return false;
    }

  }

</script>

<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Log In</div>
      </div>

      <div style="padding-top:30px" class="panel-body">

        

        <form name="my-form" id="loginform" class="form-horizontal" onsubmit="return validform()" action="/login"
          method='POST'>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login-username" type="text" class="form-control" name="name" value="" placeholder="username">
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
          </div>

          <div style="margin-top:10px" class="form-group">
            <!-- Button -->

            <div class="col-sm-12 controls">

              <button type="submit" id="btn-login" class="btn btn-success">Login</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

</div>

</html>